@use "css/prose";

:root {
  --primary-color: #BDD3FF;
  --secondary-color: #6975a2;
  --link-color: #89A1FF;
  --moon-color: #fff1b8;
  // --background-color: #081d35;
  // --background-color: #0f1e2e;
  --background-color: #2b3345;
  --hover-background-color: rgba(255, 255, 255, 0.05);
  --border-color: #4e5e82;

  --main-font: "YakuHanJPs_Noto", "Noto Sans", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --retro-font: "DotGothic16", "MS PGothic", "Osaka", "VT323", ui-monospace, monospace;

  --main-width: 60%;
}


html {
  /* かな詰め (Proportional Kana) */
  font-feature-settings: "pkna";

  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 2rem;
  // font-family: "YakuHanJPs_Noto", "Noto Sans", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: var(--main-font);
  color: var(--primary-color);

  /* テキストの折り返しとハイフン設定 */
  line-break: strict;
  overflow-wrap: break-word;
  hyphens: auto;

  /* 垂直リズムの基本設定 (1.75 = 28px/16px) */
  line-height: 1.75;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "palt";
  letter-spacing: 0.04em;
  line-height: 1.5;
}

a {
  color: var(--link-color);
}

hr {
  color: var(--border-color);
  border-style: solid;
}

.head-title {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  hr {
    width: 30%;
    margin: 0 auto;
    border: 1px solid var(--border-color);
  }
}
